<main style="padding-top: 0px;">
<section class="section-base section-color" style="padding-top: 0px; background-color: black;">
``<div class="container" style="padding-top: 0px;">      
    <div  >
      <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let tix of tixs" class="glide__slide">
            <div class="glide__slide" style="padding-left: 10px;padding-right: 10px;">
                <div class="cnt-box cnt-box-info boxed text-uppercase">
                            <div class="extra-field">Precio: {{tix.price}}</div>
                            <a href="treks-single.html" class="img-box"><img src="assets/media/image-5.jpg" alt="" /></a>
                            <div class="caption">
                                
                                <h2>{{tix.productName}}</h2>
                                <div class="cnt-info">
                                    <div><span>Dias</span><span>{{tix.days}}</span></div>
                                    <div><span>Personas</span><span>{{tix.groupSize}}</span></div>
                                    <div><span>Dificultad</span><span>{{tix.dificulty}}</span></div>
                                </div>
                                <p>{{tix.description}}
                                </p>
                                <div class="bottom-info">
                                    {{tix.address}}
                                </div>
                            </div>
                        </div>
            </div>
          </ng-template>  
      </owl-carousel-o>
    </div> 
  </div>
</section>
</main>