<main><section class="cart gray-bg">
			<div class="container">
				<div class="row">
					
					
					
					<!-- Sidebar -->
					<div class="col-md-4  col-sm-4 cols ">
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h1 class="text-success"><span class="text-success">1.</span> </h1>
								<!-- <h4>Total<span class="fl-right">{{_uw.book.monto}}</span></h4> -->
							</div>
							
							<div class="tr-single-body">
								<div class="booking-price-detail side-list no-border">
									  <img src="assets/img/successbook.png"  lass="img-responsive" alt="" />
									
									<!-- <a (click)="sendBook()" class="btn btn-success full-width">Reservar</a> -->
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-md-4  col-sm-4 cols ">
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h1><span class=" text-warning">2.</span> </h1>
								<!-- <h4>Reserva pendinete<span class="fl-right">{{_uw.book.nombre}}</span></h4> -->
							</div>
							
							<div class="tr-single-body">
								<div class="booking-price-detail side-list no-border">
									<ul>
										<li><h2>Para hacer efectiva la reserva usted debe cancelar el equivalente al 30% del costo total del tour: </h2><strong class="pull-right">{{_uw.book.adelanto}} CLP</strong></li>
										<!-- <li>Precio por persona<strong class="pull-right">{{_uw.book.precioUni}}</strong></li>
										<li>Personas<strong class="pull-right">{{_uw.book.cant}}</strong></li> -->
										<!-- <li>Children<strong class="pull-right">3</strong></li>
										<li>Guide<strong class="pull-right">Richa Alitics</strong></li>
										<li>Hotel<strong class="pull-right">Resort valley</strong></li> -->
									</ul>
									<a (click)="sendBook()" class="btn btn-success full-width">Reservar</a>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</main>
	<app-footer></app-footer><p>successbook works!</p>
