<!--  <header class="header-image  light headImg" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="assets/media/hd-4.jpg" data-offset="0" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="counter counter-vertical counter-icon">
                            <div>
                                <h3>Fecha</h3>
                                <p class="text-50 text-black no-margin">Ag. Sp. Oc. Nv. Dc.</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div>
                            <h3>Capacidad</h3>
                            <p class="text-50 text-black no-margin">{{tix.capacidad}}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div>
                            <h3>Duración</h3>
                            <p class="text-50 text-black no-margin">{{tix.duracion}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </header> -->

<main> 
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                                
                                <hr class="space-xs" />


                                                    <div class="list-thumb-box" *ngFor="let item of tix.images; let i=index;" >
                                                        <img 
                                                        src="{{item}}"  *ngIf="i === 0"class="img-responsive" alt="" />
                                                        
                                                    </div>
                                                    <ul class="gallery-list">
                                                <li *ngFor="let image of tix.images">
                                                    <a data-fancybox="gallery" href="{{image}}">
                                                        <img src="{{image}}" class="img-responsive" alt="">
                                                    </a>
                                                </li>
                                            </ul>

                                                
                         

                                
                            <hr class="space-xs" />
                           
                    </div>
                    <div class="col-lg-6">
                        <div class="title">
                            <h2>{{tix.productName}}</h2>
                            <p>{{tix.address}}</p>
                        </div>
                        <p align="justify">
                            {{tix.desLg}}
                        </p>
                        <table class="table table-grid table-border align-left text-bold table-10">
                                    <tbody>
                                        <tr>
                                            <td><strong>Disponibilidad</strong><br>{{tix.disponibilidad}}</td>
                                            <td><strong>Dificultad</strong><br> {{tix.dificulty}}</td>
                                            <td><strong>Duración</strong><br>{{tix.duracion}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Distancia</strong><br>{{tix.distancia}}</td>
                                            <td><strong>Altitud</strong><br> {{tix.altitud}}</td>
                                            <td><strong>Temperatura</strong><br>{{tix.temp}} </td>
                                        </tr>
                                    </tbody>
                        </table>
                         
                                            <div class="icon-box icon-box-top">
                                                <i class="im-danger"></i>
                                                <div class="caption">
                                                    <h3>Advertencia</h3>
                                                    <p>{{tix.notes}}</p>
                                                </div>
                                            </div>
                                        
                        
                    </div>
                   



                </div>
                
	            <div class="row">
	                
	                    <div class="col-lg-6 ">
	                       	<ul class="accordion-list" data-open="1">
						                            <li>
						                                <a href="#">Que Incluye el Tours</a>
						                                <div class="content">
						                                    <p>
						                                        1). Traslado ida y vuelta.<br> 2). Snack durante el traslado.<br> 3). Fotos durante el viaje. <br>4). Guía Y coordinador de ANDES PROADVENTURES.<br> 5). Seguro de pasajeros.<br> 6). Botiquín de primeros auxilios.
						                                    </p>
						                                </div>
						                            </li>
						                            <li>
						                                <a href="#">Tips del viaje</a>
						                                <div class="content">
						                                    <p align="justify">
						                                        {{tix.tips}}
					                                            	                                    </p>
						                                </div>
						                            </li>
						                            <li>
						                                <a href="#">Información para la Reserva</a>
						                                <div class="content">
						                                    <p align="justify">
						                                        1)Para asegurar tus cupos, reserva directamente a nuestra cuenta Rut.<br> 2) Deposito o Transferencia a cuenta RUT en Banco Estado: Número de cuenta: 26212340 RUT Número: 26212340-5 A nombre de: Jhon Hernández Correo: jhonha.18@gmail.com Número de Teléfono: +56958249250 Para aclarar dudas. También puede comunicarse con nosotros a cualquiera de los siguientes números. +569 98185667
						                                    </p>
						                                </div>
						                            </li>
						                        </ul>
	                    </div>

	                    <div class="col-lg-6">
	                        <div class="section-base1 section-color1">
	                            <div class="container"> 
	                              <div class="row1">
	                              	<form  class="form"[formGroup]="ngFormSendBook" (ngSubmit) ="sendBook()" >
	                               <!--  <form data-anima="fade-in" data-time="1000"	 class="form-box form-ajax checkbox-bottom-right " method="post" > -->
	                                    <div class="row success-bg">
	                                     
	                                      <hr class="space-lg" />
	                                        <div class="col-lg-6">
	                                            <p>Nombre</p>
	                                            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" [(ngModel)]="book.nombre"
														[ngClass]="{ 'is-invalid': submitted && fval.nombre.errors }"
														required>
														<div *ngIf="submitted && fval.nombre.errors" class="invalid-feedback">
															<div *ngIf="fval.nombre.errors.required" class="errorLabel">
															* El nombre es requerido
															</div>

														</div>
	                                        </div>
	                                       <div class="col-lg-6">
	                                            <p>Email</p>
	                                            <input type="text" class="form-control" id="email" formControlName="email" placeholder="email" [(ngModel)]="book.email"
														[ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
														required>
														<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
															<div *ngIf="fval.email.errors.required" class="errorLabel">
															* El email es requerido
															</div>
														</div>
	                                        </div>
	                                        <div class="col-lg-6">
	                                            <p>Personas</p>
	                                           <select class="form-control wide"   id="cant" formControlName="cant" placeholder="cant" [(ngModel)]="book.cant"
														[ngClass]="{ 'is-invalid': submitted && fval.cant.errors }"
														required>
															<option>1</option>
															<option>2</option>
															<option>5</option>
															<option>10 </option>
															<option>15</option>
														</select>
	                                        </div>
	                                        <div *ngIf="submitted && fval.categorycant.errors" class="invalid-feedback">
															<div *ngIf="fval.cant.errors.required" class="errorLabel">
															* La cantidad de personas es requerida
															</div>

														</div>
	                                        <div class="col-lg-6">
	                                            <p><strong>Fecha:</strong> {{ selDate.year }}-{{ selDate.month + 1}}-{{ selDate.date }}</p>
	                                            
	                                        </div>
	                                      
	                                    </div>
	                                      <div >
	                                        	 <xunk-calendar [selectedDate]="selDate"></xunk-calendar>
	                                        	 <div class="form-checkbox">
	                                        <input type="checkbox" id="check" name="check" value="check" required>
	                                        <label for="check">Aceptar teminos y condiciones.</label>
	                                    </div>
	                                        	
	                                        </div>

										 <hr class="space-xs" />

	                                        
	                                         <a (click)="sendBook()"class="btn btn-sm btn-circle btn-icon"><i class="im-right-4"></i>Reservar </a>

	                                   <!--  <button class="btn-text" type="submit">Chequear disponibilidad</button> -->
	                                    
	                                 
	                                    
	                                   
	                                </form>
	                                
	                              </div>
	                             
	                            </div>
	                        </div>
	                    </div>
	            </div>
            </div>

    
         
                
        </section>
      
</main>
